{{#paper-card}}
  <h1>Your Reading List</h1>
  {{#paper-card-content}}
    {{#each readingList.items as |item|}}
      {{#paper-card class="sub-card"}}
        {{#paper-card-content}}
          <h2>{{item.title}}</h2>
          <h3>{{item.last_name}}, {{item.first_name}}</h3>
        {{/paper-card-content}}
      {{/paper-card}}
    {{/each}}
  {{/paper-card-content}}
{{/paper-card}}
